<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Config.php</directory>
            <directory>src/APICall.php</directory>
            <directory>src/WeclappAPICall.php</directory>
        </exclude>
    </coverage>

    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

</phpunit>
